/* ================================
グローバル変数の定義
=================================== */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ================================
Color
=================================== */ 
$black: #000;
$d-black: #212121;
$xl-gray: #F0EFED;
$white: #fff;

$red: #FD1516;

$blue: #00007e;

/* ================================
Font Family
=================================== */ 
$poppins: "Poppins", sans-serif;
$impact: Impact, sans-serif;

/* ================================
Font Weight
=================================== */ 
$light: 300;
$reg: 400;
$medium: 500;
$s-bold: 600;
$bold: 700;
$x-bold: 900;